header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

header > img{
    width: 200px;    
}

header ul{
    list-style: none;
}

header a{
    padding-right: 2rem;
    text-decoration: none;
    font-size: 1.5rem;
}